.radius-10 {
    border-radius: 10px;
}

.brand-container img {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}

.brand-container {
    padding: 10px;
    text-align: center;
}

.custom-radius {
    border-radius: 10px;
    overflow: hidden;
}

.main-content {
    margin-top: 100px;
}

.main-content ul {
    padding: 0 10px;
}

select.form-control {
    appearance: auto;
}

.form-view .card-header {
    background-color: #5a5a5a;
    color: #fff;
    font-weight: bold;
}