.radius-10 {
    border-radius: 10px;
}

.brand-container img {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}

.brand-container {
    padding: 10px;
    text-align: center;
}

.custom-radius{
    border-radius: 10px;
    overflow: hidden;
}
.main-content {
    margin-top: 100px;
}
.main-content ul {
    padding: 0 10px;
}