html {
    background: #fbfaff;
}

.vertical-menu {
    background-color: #fff !important;
}

.radius-10 {
    border-radius: 10px;
}

.brand-container img {
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}

.brand-container {
    padding: 10px;
    text-align: center;
}

.custom-radius {
    border-radius: 10px;
    overflow: hidden;
}

.main-content {
    margin-top: 70px;
    padding-top: 30px;
    background: #fbfaff;
}

.main-content ul {
    padding: 0 10px;
}

select.form-control {
    appearance: auto;
}

.tag {
    text-align: center;
    padding: 5px;
    background: #e9e9ef;
    border-radius: 0.25rem;
    display: block;
    min-width: 100px;
}

.card {
    border-radius: 10px !important;
    overflow: hidden !important;
}

.card-header {
    color: #fff;
    background-color: #09425A !important;
}